.my-fragment {
  color: blue;
  border: 1px solid black;
}

button {
  display: block;
  width: 500px;
  height: 80px;
  font-size: 20px;

  background-color: lightgray;
  border: 0;
  border-radius: 10px;

  margin-bottom: 10px;
}
button:hover {
  cursor: pointer;
  background-color: lightgreen;
}
