@import url("https://fonts.googleapis.com/css2?family=Diphylleia&display=swap");

@font-face {
  font-family: "YoonChildfundkoreaManSeh";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/YoonChildfundkoreaManSeh.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PeoplefirstFightingTTF";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2406-2@1.0/PeoplefirstFightingTTF.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: "Diphylleia", serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-family: "PeoplefirstFightingTTF";
  font-size: 40px;
}

p {
  font-family: YoonChildfundkoreaManSeh;
}
